

h1 {font: 1em sans-serif;font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size:xx-large;
    max-width: 100px;
    margin-left: 200px;
    color:black;
    
    
}

.quiz-container {
    margin-top: 60px;
    background-image:url(https://i.pinimg.com/564x/79/07/9c/79079cf0e76eca65c7fdff5a188addc4.jpg);
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    margin: 0 auto;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    

}

#question {
    font-size: 100px;
    margin-bottom: 70px;
    font-weight: bolder;
    font-size:xx-large;
    text-align: center;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 20px ;
    margin-top: 60px;
    cursor: pointer;
}

#score {
    margin-top: 60px;
    font-weight: bold;
    font-size: larger;
    color:black;
}
#mode-toggle{
    transition: background-color 0.3s ease;
    
}

.dark-mode {
    background-color: #222;
    color: #fff;
    
}
.light-theme {
    background-color: #f3f3f3;
    color: #333;
  }
  
  
  .dark-theme {
    background-color: #333;
    color: #fff;
  }
  
  
  #theme-toggle {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
